shiny.Rcheck/shiny/
**/*.R
**/*.Rs
**/*.pdf
**/*.RDS
**/*.RD
**/00_pkg_src/
**/*.toml
**/*.html
**/*.css
**/*.rdb
**/*NAMESPACE
**/*INDEX
**/*DESCRIPTION
**/*.rdx
**/*.h
**/include/
**/*.hpp
**/*LICENSE
**/R
**/Rscript
**/NEWS.md
**/*Rmd
**/*.so